<p id="notice"><%= notice %></p>

<h1>Veiculos</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Ano</th>
      <th>Cod fipe</th>
      <th>Preco</th>
      <th>Combustivel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td><%= veiculo.modelo_id %></td>
        <td><%= veiculo.ano %></td>
        <td><%= veiculo.cod_fipe %></td>
        <td><%= veiculo.preco %></td>
        <td><%= veiculo.combustivel %></td>
        <td><%= link_to 'Show', veiculo %></td>
        <td><%= link_to 'Edit', edit_veiculo_path(veiculo) %></td>
        <td><%= link_to 'Destroy', veiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Veiculo', new_veiculo_path %>
