<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo_id %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @veiculo.ano %>
</p>

<p>
  <strong>Cod fipe:</strong>
  <%= @veiculo.cod_fipe %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @veiculo.preco %>
</p>

<p>
  <strong>Combustivel:</strong>
  <%= @veiculo.combustivel %>
</p>

<%= link_to 'Edit', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Back', veiculos_path %>
