<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @marca.descricao %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @marca.codigo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @marca.tipo %>
</p>

<%= link_to 'Edit', edit_marca_path(@marca) %> |
<%= link_to 'Back', marcas_path %>
