<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @modelo.marca_id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @modelo.descricao %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @modelo.codigo %>
</p>

<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', modelos_path %>
